- var notes= ''

section(data-notes=notes)
  section
    h3.title O que é um websocket?

  section
    h4 É uma conexão persistente (um túnel) que permite a comunicação bi-direcional (cliente - servidor) sobre o protocolo TCP.

  section
    h4 Ele é projetado para ser executado em browsers e servidores web que suportem o HTML5, mas pode ser usado por qualquer cliente ou servidor de aplicativos

  section
    h3 Possui por característica uma url com prefixo ws: ou wss:
