- var notes= ''

section(data-notes=notes)
  section
    h3.title O que é um websocket?

  section
    h3 É uma conexão persistente (um túnel) entre o client e o servidor.

  section
    h3 Possui por característica uma url com prefixo ws: ou wss:
