- var notes= ''

section(data-notes=notes)
  section
    h3.title Pooling e Long pooling?

  section
    h3.title Pooling
    h4.
      É  a técnica onde o cliente consulta de x em x tempo por alguma mudança de status no servidor

  section(data-background="img/been-there.gif")

  section
    h3.title Long pooling
    h4.
      O cliente envia apenas uma requisição ao servidor que a mantém aberta até o momento de retornar dados.
    h4.
      Quando os dados são retornados ao cliente, ele envia uma nova requisição ao server que novamente a mantém aberta.
