section(data-notes=notes)
  section
    h2.title Socket.io

  section
    h3.title O que é?

    blockquote.fragment.
      “THE FASTEST AND MOST RELIABLE REAL-TIME ENGINE“

    blockquote.fragment.
      “It enables real-time bidirectional event-based communication“

  section
    h3 Framework para real-time apps escrito para o <a href="https://github.com/socketio/engine.io">Engine.io</a>
