section
  h2.title Referências
  p.small <i>https://github.com/socketio/engine.io</i>
  p.small <i>https://github.com/socketio/socket.io</i>
  p.small <i>https://socket.io/docs/</i>
  p.small <i>https://www.pubnub.com/blog/2014-12-01-http-long-polling/</i>
  p.small <i>https://codeburst.io/why-you-don-t-need-socket-io-6848f1c871cd/</i>
