- var notes= ''

section(data-notes=notes)
  section
    h2.title Socket.io features

  section
    h4.title Confiabilidade
    h4.title.fragment Suporte à reconexão
    h4.title.fragment Detecção de desconexão
    h4.title.fragment Suporte à arquivos binários
    h4.title.fragment API simples
    h4.title.fragment Cross-browser
    h4.title.fragment Suporte à multiplexing
    h4.title.fragment Suporte à salas
