doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/slide-1-title
        include ../slides/slide-2-about-me
        include ../slides/slide-3-socket-io
        include ../slides/slide-4-how-it-works
        include ../slides/slide-5-pooling
        include ../slides/slide-6-websocket
        include ../slides/slide-7-socket-io-features
        include ../slides/slide-8-demo
        include ../slides/slide-8-scaling
        include ../slides/slide-9-alternatives
        include ../slides/slide-references
        include ../slides/slide-questions
        include ../slides/slide-socials
        include ../slides/slide-thanks
    include inc/scripts
